
@{
    ViewData["Title"] = "_SocialMedia";
}

<h2>_SocialMedia</h2>

<a href="http://www.facebook.com">
    <i class="fab fa-facebook-square fa-5x" ></i>
</a>

<a href="http://www.twitter.com">
    <i class="fab fa-twitter-square fa-5x"></i>
</a>

<a href="https://plus.google.com/discover">
    <i class="fab fa-google-plus-square fa-5x"></i>
</a>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" 
      crossorigin="anonymous">
