@model string
@{
    ViewData["Title"] = "Greeting";
}

@{
    int minute = DateTime.Now.Minute;
    if (minute % 2 == 0)
    {
        Layout = "_MyLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<h2>Greeting</h2>

<p>@ViewBag.EnglishGreeting World (using @@ViewBag)</p>
<p>@ViewData["SpanishGreeting"] World (using @@ViewData)</p>
<p>@Model World (using @@Model)</p>
